.BuildControls{
    width: 100%;
    margin: auto;
    display: flex;
    color: rgb(255, 255, 255);
    flex-direction: column;
    align-items: center;
    background-color: rgb(247, 113, 60);
    padding: 5px 0; 
    box-shadow: 0 2px 7px rgb(192, 192, 192);
}

.OrderButton{
    outline: none;
    padding: 10px 2rem;
    margin-top: 14px;
    background-color: rgb(211, 68, 25);
    border: none;
    color: #fff;
    margin-bottom: 8px;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 3px;
    box-shadow: 0 1px 6px rgb(65, 65, 65);

}
.OrderButton:active{
    background-color: rgb(165, 49, 14);

}

.OrderButton:disabled{
    background-color: rgba(235, 103, 63, 0.959);
    cursor: not-allowed ;
    color: rgba(235, 235, 235, 0.555);
    animation: disabel 0.2s ease-in;
    box-shadow: 0 1px 5px rgba(82, 82, 82, 0.705);
}

@keyframes disabel{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(0.6);
    }
}

.OrderButton:not(:disabled){
    animation: enable 0.4s linear;
    padding: 10px 5.7rem;
    box-shadow: 0 1px 6px rgb(90, 52, 52);

}


@keyframes enable{
    0%{
        transform: scale(0) 
    }
    60%{
        transform: scale(1.1) 
    }
    100%{
        transform: scale(1) 
    }
}