.NavigationItem{
    margin: 0;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    align-items: center;
}

.NavigationItem a{
    text-decoration: none;
    height: 100%;
    padding: 16px 12px;
    border-bottom: 2px solid transparent;
    box-sizing: border-box;
    display: block;
}

.NavigationItem a:active,
.NavigationItem a:hover,
.NavigationItem a.active{
    background-color: rgb(255, 192, 140);
    color: #444;
    border-bottom: 2px solid rgb(111, 86, 255);
}