.SideDrawer{
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    background-color: #fff;
    top: 0;
    left: 0;
    box-sizing: border-box;
    z-index: 200;
    padding: 32px 16px;
    transition: transform 0.2s ease-in-out;
}

@media (min-width:500px){
    .SideDrawer{
        display: none;
    }
}

.Open{
    transform: translateX(0)
}

.Close{
    transform: translateX(-100%)
}