span{
  padding-bottom:10px; 
}
.Spinner{
  text-align: center;
  padding: 12px;
}
.Loader {
  display: inline-block;
  width: 64px;
  height: 64px;
  
}
.Loader:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid rgb(22, 22, 22);
  border-color: rgb(122, 37, 37) transparent rgb(150, 9, 9) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
