.NavigationItems{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%
}

@media (min-width:499px){
    .NavigationItems{
        flex-direction: row;
    }
}